{% extends 'base.html' %}
{% block title %}Lash-guard{% endblock %}


{% block body %}

    <form action="compensate" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="inputCorrection">백래쉬 반영률</label>
            <input type="text" id="inputCorrection" class="form-control" aria-describedby="correctionHelpBlock"
                   name="correction"
                   value="1.0"
                   placeholder="1.0"
            >
{#            <small id="correctionHelpBlock" class="form-text text-muted">#}
{#                백래쉬 반영률#}
{#            </small>#}
        </div>

        <div class="form-group">
            <label for="inputX">X축 백래쉬(mm)</label>
            <input type="text" id="inputX" class="form-control" aria-describedby="xHelpBlock"
                   name="x_dist" value="0.0"
                   placeholder="0.0"
            >
{#            <small id="xHelpBlock" class="form-text text-muted">#}
{#                X축 백래쉬#}
{#            </small>#}
        </div>

        <div class="form-group">
            <label for="inputY">Y축 백래쉬(mm)</label>
            <input type="text" id="inputY" class="form-control" aria-describedby="yHelpBlock"
                   name="y_dist" value="0.0"
                   placeholder="0.0"
            >
{#            <small id="yHelpBlock" class="form-text text-muted">#}
{#                Y축 백래쉬#}
{#            </small>#}
        </div>

        <div class="form-group">
            <label for="inputZ">Z축 백래쉬(mm)</label>
            <input type="text" id="inputZ" class="form-control" aria-describedby="zHelpBlock"
                   name="z_dist" value="0.0"
                   placeholder="0.0"
            >
{#            <small id="zHelpBlock" class="form-text text-muted">#}
{#                Z축 백래쉬#}
{#            </small>#}
        </div>

        <div class="form-group">
            <label for="inputGcode">Gcode 파일선택</label>
            <input type="file" id="inputGcode" aria-describedby="gcodeHelpBlock"
                   name="gcode" class="form-control-file">
{#            <small id="gcodeHelpBlock" class="form-text text-muted">#}
{#                Gcode 파일의 선택#}
{#            </small>#}
        </div>


        <button class="btn btn-primary" type="submit">보정하기</button>
    </form>

{% endblock %}
